.wrapper {
  max-width: 1120px;
  margin: 32px auto;
  padding: 0 16px;

  display: grid;
  grid-template-columns: 16rem 1fr;
  gap: 32px;
  align-items: flex-start;
}

@media (max-width: 48rem) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
